[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
roboflow = "*"
numpy = "*"
opencv-python = "*"
tensorflow = "*"
tensorflow-gpu = "*"
jupyterlab = "*"
autokeras = "*"
scikit-learn = "*"
scikit-image = "*"
matplotlib = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.9"
